@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: top;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1351px;
  width: 86%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
h1  {
  padding: 20px 0;
  color: #808080;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
.week li {
  width: 12%;
  padding: 4px;
  margin-right:1% ;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #ddd;
}

li h2 {
  padding: 5px;
  border-bottom: 1px solid rgb(10, 32, 233);
  background: rgb(10, 32, 233);
  text-align: center;
  text-transform: uppercase;
}

li p {
  width: 100%;
  padding: 50% 0;
  display: inline-block;
  text-align: center;
}

li p:nth-child(2n+1) {
  background-color: #7fffd4;
}

li p:nth-child(2n+2) {
  background-color: #6495ed;
}

li p:nth-child(2n+3) {
  background-color: #10fc08;
}

li p:nth-child(2n+4) {
  background-color: #df0d0d;
}

.get-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  display: block;
  font-size: 20px;
  color: #555;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.error {
  padding: 15px 0;
  display: block;
  display: none;
  color: #ff0000;
  font-size: 15px;
  text-transform: capitalize;
}

.display { display: block; }

textarea {
  width: 100%;
  margin-right: 4%;
  display: inline-block;
}

input {
  margin: 5px 0;
  display: block;
}

li .four {
  width: 50%;
  padding: 12% 0;
}

li .five {
  width: 33%;
  padding: 6% 0;
}

.btn {
  color: #fff;
  font-weight: bold;
  background-color: #0000ff;
  border: transparent;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.btn:hover {
  background-color: skyblue;
}